<launch>
  <arg name="model" default="$(find minhtien)/urdf_model/urdf/Mohinhtren.xacro"/>
  <arg name="gui" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
 

</launch>
