<launch>
    <node pkg="minhtien" type="geostd.py" name="minhtien1"/>
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="minhtien2" output="screen"/>
    <node pkg="rviz" type="rviz" name="minhtien3" args="-d $(find minhtien)/rviz/rviz.rviz" output="screen"/>
    <node pkg="map_server" type="map_server" name="minhtien4" args="$(find minhtien)/map/4A1.yaml"/>
    <node pkg="minhtien" type="initial.py" name="minhtien6"/>
    <node pkg="minhtien" type="uart1.py" name="minhtien9"/>
    <node pkg="minhtien" type="uart.py" name="minhtien7"/>
    <node pkg="tf" type="static_transform_publisher" name="minhtien13" args="0.2 0 0 0 0 0 base_footprint laser 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_map_broadcaster" args="0.2 0 0 0 0 0 base_link map 100"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <include file="$(find minhtien)/launch/move_base.launch"/>
    <include file="$(find minhtien)/launch/amlc.launch"/>
    <include file="$(find minhtien)/urdf_model/launch/controller.launch"/>
<include file="$(find minhtien)/urdf_model/launch/display.launch"/>

</launch>
